
* {
font-family: 'Text Me One', sans-serif;
margin: 0;
padding: 0;
}

body {
  background-color: #EDC9CA;
}

.container {
  width: 100vw;
  background-image: url("../images/work.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #FFF2F9;
  height: 100vh;
  margin: 0 auto;
}


h1 {
  margin-top: 10%;
  margin-left: 30%;
  font-size: 55px;
  position: relative;
}

h3, form, #meaning {

  margin-left: 30%;
  font-size: 30px;
}

form {
  margin-left: 30%;
  margin-top: 2%;
	
}

#meaning {
  border: 1px solid white;
  width: 30%;
  height: 100px;
  margin-top: 30px;
  margin-left: 30%;
}

#meaning p {
  margin-left: 20px;
  margin-top: 5%;
}

.form-control {

  background-color: #FFF2F9;
  font-size: 30px;
  width: 40%;
}


h1, h3, #meaning {
  color: white;
}
